celery
redis
fastapi
sqlalchemy[asyncio]
langchain
langgraph
openmeteo-requests
httpx
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
alembic
psycopg2-binary
asyncpg
requests-cache
retry-requests
python-dotenv
uvicorn
pydantic[email]
python-multipart
langchain-google-genai
bcrypt==4.0.1